*.log
.DS_Store
.env
.env.production
.phpunit.result.cache
/.idea
/.phpunit.cache
/.vscode
/node_modules
/vendor
/**/vendor

/**/node_modules
/storage
/frontend/dist

/docker-compose.override.yml
/solr_data
/orientdb_data